/Library/
/ExtraBundles/
/LocalCache/
/Builds/
/Temp/
/Assets/Resources/Levels/Temp/
/Assets/Resources/Levels/LevelConfigs/preview_config.*
*.csproj
*.pidb
*.sln
*.userprefs
*.unityproj
*.DotSettings
*.suo
.DS_Store
/Build/
*.pidb.meta
*.pidb
